.portlet-asset-publisher .asset-content {
	margin-left: 0;
	margin-right: 0;
}

.portlet-asset-publisher .asset-content .asset-title {
	margin: 10px 0;
	border: none;
	padding: 0;
	
}

.portlet-asset-publisher .asset-content .asset-title a {
	color: #646464;
}

.portlet-asset-publisher .asset-content.focus-news .asset-title {
	font-size: 23px;
	font-weight: bold;
	line-height: 20px;
}

.portlet-asset-publisher .asset-content.normal-news .asset-title {
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
}

.asset-focus-news img {
	
}

.portlet-asset-publisher .asset-abstract {
	margin-bottom: 10px;
}

.portlet-asset-publisher .asset-abstract .asset-image img {
	float: left;
	margin-right: 10px;
	width: 150px;
}

.block_timer {
	color: #757575;
	text-align: left;
	font-size: 12px;
	margin-top: 8px;
}

.asset-full-content-title {
	color: #000;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
}

.sapo h4 {
	color: #000;
	font-size: 12px;
	line-height: 20px;
	margin-top: 5px;
}

.journal-content-article {
	word-break: normal !important;
	text-align: justify;
	font-size: 12px;
	margin-top: 10px;
}

.journal-content-article table td {
}

.journal-content-article:after {
	content: "";
	display: table;
	line-height: 0;
	clear: both;
}

/*overider css journal content*/
.journal-content-article span,
.journal-content-article p,
.journal-content-article font {
	font-family: Arial !important;
	font-size: 12px !important;
	line-height: 20px !important;
/* 	margin: 0 !important; */
	color: #000 !important;
}


.portlet-asset-publisher .journal-content-article a span{
   
    color: #2cade6 !important;
	text-decoration: underline !important;
}


.portlet-asset-publisher .journal-content-article p a{
    color: #2cade6!important;
    text-decoration: underline!important;
}

.view-content-author {
	display: none;
}

.journal-content-article p {
	padding-bottom: 10px  !important;
	text-indent: 0 !important; 
}

.journal-content-article img,
.journal-content-article p img {
	text-align: center;
}

.journal-content-article table {
	width: 100% !important;
}

.asset-bounddary {
	border-bottom: 1px solid #e8e9e9;
	margin-bottom: 10px;
}

.aui .portlet-asset-publisher .asset-content, .aui .portlet-asset-publisher .asset-summary, .aui .portlet-asset-publisher .asset-title, .aui .portlet-asset-publisher .header-title, .aui .portlet-asset-publisher li.title-list, .aui .portlet-blogs .entry-body, .aui .portlet-blogs .entry-title, .aui .portlet-blogs .header-title, .aui .portlet-journal-content .journal-content-article, .aui .portlet-message-boards .header-title, .aui .portlet-message-boards .thread-body {
	word-break: normal !important;
}

.asset-summary {
	text-align: justify;
}

.title-list .title-list.content a img {
	display: none;
}

.title-list .title-list.content {
	background: url("../images/custom/li.gif") no-repeat left 20px;
	border-bottom: 1px solid #eee;
	line-height: 24px;
	padding: 10px 0 10px 10px;
}

.aui .breadcrumb {
	padding: 8px 5px;
}

.asset-control-detail {
	border-bottom: 1px solid #e8e9e9;
	padding-bottom: 5px;
	text-align: center;
}

.asset-control-detail .print-action {
	margin-right: 10px;
}

.related_asset_title {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin: 12px 0;
	text-transform: uppercase;
}

ul.related_asset_list li {
	background: url("../images/custom/icons/vuong.gif") no-repeat 0 10px;
	border-bottom: 1px solid #e8e9e9;
	margin: 0;
	padding: 5px 0 5px 25px;
}

.taglib-page-iterator ul li {
	background: none;
	margin: 0;
	padding: 0;
}

.portlet-image-gallery-display .image-title{
	    margin-top: -20px;
}

.portlet-image-gallery-display .lfr-pagination {
    max-width: 680px;
    margin-top: 40px;
}

.image-icon {
    width:20%
}

.portal-newspublisher-portlet .slider_wrapper{
	margin-top: -10px;
}