.private-page #mMenu .nav li:not(:nth-child(-n+4)) {
	display: block;
}
.private-page #banner.container, 
.private-page #content > .container, 
.private-page #footer.container, 
.private-page #mMenu > .container, 
.private-page .sitemap-footer.container {
	width: 1170px;
}

/*------------------------------
			Menu
-------------------------------*/
.portlet-boundary_34_WAR_portalcmsworkflowportlet_ {
	border: 1px solid #ccc;
}
.private-page .cms-menu-wraaper .menu-header {
	border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    background: #e74c3f none;
    color: white;
    font-weight: bold;
}
.cms-menu-wraaper .menu-item {
	position: relative;
	background: none;
    padding: 0;
    border: 0;
}
.cms-menu-wraaper .menu-item a {
	border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    display: block;
}
.cms-menu-wraaper .menu-item span {
	float: right;
	display: inline-block;
    padding: 2px 9px;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
    border-radius: 9px;
    position: absolute;
    top: 5px;
    right: 8px;
}
.cms-menu-wraaper .menu-item.selected a, .cms-menu-wraaper .menu-item:hover a {
	color: #333;
    background-color: #dfdfdf;
    font-weight: bold;
    text-decoration: none;
}



/*------------------------------
			Content
-------------------------------*/
.private-page .portlet-borderless-container {
	margin: 0;
}
.private-page .layout_20_80, .private-page .column-1 {
	padding-top: 10px;
}
.private-page .layout_20_80 #column-1 {
	width: 200px;
}
.private-page .layout_20_80 #column-2 {
	padding: 0 0 0 5px;
	width: -webkit-calc(100% - 200px);
	width: calc(100% - 200px);
	margin: 0;
}
.private-page .portlet-content {
	padding: 0;
}
.private-page .layout_20_80 input[type="text"], 
.private-page .layout_20_80 input[type="number"], 
.private-page .layout_20_80 select {
	height: 28px;
	padding: 2px 10px;
	border: 1px solid #ccc;
	border-radius: 4px !important;
	box-shadow: none;
	max-width: inherit !important;
	font-size: 13px;
	width: 100%;
}
.private-page .layout_20_80 textarea.text-area {
	border: 1px solid #ccc;
	padding: 3px 10px;
	font-size: 13px;
	width: 100%;
}
.private-page .bvh-theme .layout_20_80 .control-label, 
.private-page .bvh-theme .layout_20_80 .btn-primary {
	margin-top: 0;
}
.private-page * {
	box-sizing: border-box;
}

/*----- Tao tin moi -----*/
.portlet-boundary_31_WAR_portalcmsworkflowportlet_ {
	padding: 10px;
	border: 1px solid #ccc;
}
.portlet-boundary_31_WAR_portalcmsworkflowportlet_ .portlet-body > .row-fluid > label {
	margin: 0 20px;
}
.update-form .fieldset > div > .span7 {
	width: -webkit-calc(100% - 200px);
	width: calc(100% - 200px);
}
.update-form .fieldset > div > .span5 {
	width: 200px;
	padding-left: 15px;
	margin: 0;
}
.form-validator-stack.help-inline {
	margin-top: 5px;
	color: #a94442;
	font-style: italic;
}
.portlet-boundary_31_WAR_portalcmsworkflowportlet_ label {
	font-size: 13px;
	color: #333;
}
.layout_20_80 .portlet-boundary_31_WAR_portalcmsworkflowportlet_ label.checkbox {
	padding: 0;
}
.cms-article-wrapper label.checkbox input {
	margin: 0;
}
.portlet-boundary_31_WAR_portalcmsworkflowportlet_ .cke_editor__31_WAR_portalcmsworkflowportlet_articleContent {
	margin-bottom: 15px;
}
.portlet-boundary_31_WAR_portalcmsworkflowportlet_ .form-control {
	height: auto;
    border: 0;
    padding: 0;
    box-shadow: none;
}
.cms-article-wrapper .select-existing-selector a {
	padding: 4px 10px 3px;
}
.portlet-boundary_31_WAR_portalcmsworkflowportlet_ button.btn {
	padding: 5px 10px 4px;
}
#_31_WAR_portalcmsworkflowportlet_back:before {
	content: "\f177";
	font-family: FontAwesome;
}
#_31_WAR_portalcmsworkflowportlet_back:before {
	content: "\f177";
	font-family: FontAwesome;
}
#_31_WAR_portalcmsworkflowportlet_save-and-exit:before, 
#_31_WAR_portalcmsworkflowportlet_save:before {
	content: "\f0c7";
	font-family: FontAwesome;
}
#_31_WAR_portalcmsworkflowportlet_rewrite:before {
	content: "\f021";
	font-family: FontAwesome;
}
#_31_WAR_portalcmsworkflowportlet_save-and-send:before {
	content: "\f176";
	font-family: FontAwesome;
}
.cms-article-wrapper .category-result-scroll-view {
	width: 100%;
}
.cms-article-wrapper .form-row > label {
	width: 100%;
	padding: 0 10px;
}
.cms-article-wrapper.update-form .fieldset > div > .span5 > div:first-child .span3 {
	position: relative;
	margin-bottom: 9px;
}
.cms-article-wrapper.update-form .fieldset > div > .span5 > div:first-child i {
	position: absolute;
	top: 5px;
	right: 7px;
}
.cms-article-wrapper.update-form .fieldset > div > .span5 > div:nth-child(2), 
.cms-article-wrapper.update-form .fieldset > div > .span5 > div:nth-child(3) {
	margin: 0;
}
.cms-article-wrapper .form-control-boundbox {
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 15px;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}
.cms-article-wrapper .form-control-boundbox .control-group {
	margin-bottom: 0;
}
.cms-article-wrapper .form-control-boundbox label.checkbox span {
	display: inline-block;
    width: 89%;
    float: right;
}
.cms-article-wrapper .form-row.buttons {
	text-align: center;
	margin-top: 15px;
}
.cms-article-wrapper .select-box {
	margin-bottom: 15px;
}
.beneficiary-class {
	white-space: nowrap;
}
.private-page .edit-royalties {
    position: relative;
}
.private-page .edit-royalties input {
	min-width: 110px;
}
.private-page .edit-royalties button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: auto !important;
    font-size: 1px !important;
    color: transparent;
    height: 100%;
    border-radius: 0 4px 4px 0;
    padding: 4px 5px 3px 10px !important;
}
.private-page .edit-royalties button:before {
    content: "\f040";
    font-family: FontAwesome;
    font-size: 13px;
    color: #333;
}
.private-page .edit-royalties button:hover {
    background-color: #337ab7;
}
.private-page .edit-royalties button:hover:before {
    color: white;
}
.private-page .layout_20_80 table td:last-child {
	vertical-align: middle;
}
.private-page .layout_20_80 table a {
	color: #334eb7;
	font-weight: bold;
}
.total-money {
	margin: 20px 10px 0;
	font-weight: bold;
}
.total-money .total-money-value {
	color: red;
}
.cms-article-wrapper .dropdown-toggle img {
	display: inline-block;
}
/* Auto complete */
.private-page .ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
}
.private-page .ui-autocomplete li > div {
    padding: 5px 10px;
    font-size: 12px;
}
/* .private-page .ui-autocomplete li > *:hover {
    background-color: #e0eaf1 !important;
} */

/*----- Tin cua toi -----*/
.private-page .layout_20_80 .portlet-boundary_31_WAR_portalcmsworkflowportlet_ .navbar {
	padding: 0;
}
.lfr-input-date {
	position: relative;
	display: block;
}
.lfr-input-date:before {
    content: "\f073";
    font-family: FontAwesome;
    position: absolute;
    top: 4px;
    right: 10px;
    pointer-events: none;
    font-size: 15px;
}
.cms-view-entry {
	padding: 0 10px;
}
.cms-view-entry a {
	color: #337ab7;
}
.cms-view-entry a:hover {
	text-decoration: underline;
	color: #337ab7;
}
.cms-view-entry img {
	margin: 10px auto;
	max-width: 100%;
}
.cms-view-entry .PhotoCMS_Caption {
	text-align: center;
    max-width: 450px;
    margin: 0 auto 10px;
}
.cms-view-entry .cms-view-entry-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.cms-view-entry .cms-view-entry-summary {
	font-style: italic;
}
.cms-view-entry .sapo {
	font-size: 13px;
	line-height: 20px;
	margin-top: 10px;
}
.portlet-boundary_31_WAR_portalcmsworkflowportlet_ .button-holder {
	margin: 0;
}
.portlet-boundary_31_WAR_portalcmsworkflowportlet_ .navbar .control-group {
	margin-bottom: 15px;
}
.portlet-boundary_31_WAR_portalcmsworkflowportlet_ .searchcontainer-content {
	margin: 0 10px;
}
.private-page #content .portlet-boundary_31_WAR_portalcmsworkflowportlet_ table button {
	display: block;
    width: 100%;
    padding: 4px 10px 3px;
    font-size: 12px;
    margin-bottom: 5px;
    white-space: nowrap;
    background-image: none;
}
.private-page #content .portlet-boundary_31_WAR_portalcmsworkflowportlet_ table button:last-child {
	margin-bottom: 0;
}
.layout_20_80 .small-image {
	float: right;
    margin-top: -30px;
    margin-right: 170px;
}
.layout_20_80 .small-image img {
	width: 100px;
	margin-bottom: 5px;
}
.duyet-lai, .dang-tin, .duyet, .bien-tap-lai, .xuat-ban {
	background-color: #337ab7 !important;
	border-color: #2e6da4 !important;
	color: white !important;
}
.duyet-lai:hover, .dang-tin:hover, .duyet:hover, .bien-tap-lai:hover, .xuat-ban:hover {
	background-color: #286090 !important;
    border-color: #204d74 !important;
}
.huy-duyet, .huy-xuat-ban, .delete-button {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    color: white !important;
}
.huy-duyet, .huy-xuat-ban:hover, .delete-button:hover {
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}
.btn.duyet-xuat-ban {
	color: white;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn.duyet-xuat-ban:hover {
    color: white;
    background-color: #449d44;
    border-color: #398439;
}
.duyet-xuat-ban:before, .send-button:before {
	content: "\f176";
	font-family: FontAwesome; 
}
.view-button:before {
	content: "\f044";
	font-family: FontAwesome; 
}
.edit-button:before {
	content: "\f06e";
	font-family: FontAwesome; 
}
.history-button:before {
	content: "\f002";
	font-family: FontAwesome; 
}
.duyet:before {
	content: "\f00c";
	font-family: FontAwesome;	
}
.duyet-lai:before {
	content: "\f046";
	font-family: FontAwesome;	
}
.dang-tin:before {
	content: "\f1d8";
	font-family: FontAwesome; 
}
.huy-duyet:before, .huy-xuat-ban:before {
	content: "\f05e";
	font-family: FontAwesome; 
}
.bien-tap-lai:before {
	content: "\f021";
	font-family: FontAwesome; 
}
.xuat-ban:before {
	content: "\f02f";
	font-family: FontAwesome; 
}
.delete-button:before {
	content: "\f1f8";
	font-family: FontAwesome; 
}

.private-page .dropdown-toggle + .dropdown-menu {
	left: auto;
	right: 0;
	font-size: 12px;
}

/*----- Tin da dang -----*/
.private-page .selectize-input {
	padding: 0 10px;
	min-height: inherit;
}
.private-page .selectize-input.full {
    padding: 4px 10px;
}
/* Select box */
.selectize-control .selectize-dropdown-content > div:hover, 
.selectize-control .selectize-dropdown-content > div.active {
	background-color: #dfdfdf;
}
.selectize-control.multi .selectize-input > div {
	background-color: #d1d1d1;
}

/*----- Quan tri phan quyen -----*/
.quantriphanquyen {
	
}
.private-page .quantriphanquyen .form-search form, .private-page .quantriphanquyen .input-keyword {
	display: -webkit-flex;
	display: flex;
}
.private-page .quantriphanquyen .form-search input[type="text"], 
.private-page .quantriphanquyen .input-keyword input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
.private-page .quantriphanquyen .form-search .bound-category-taglib + div + button, 
.private-page .quantriphanquyen .form-search .input-text-wrapper + button {
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
    border-left: 0;
    margin-top: 37px;
}
.private-page .quantriphanquyen .taglib-header + button {
	margin-top: 15px;
	background: #0187c6 none;
	color: white;
	border-color: #0187c6;
}
.private-page .quantriphanquyen .taglib-header + button:before {
	content: "\f067";
	font-family: FontAwesome;
}
.private-page .quantriphanquyen .input-keyword button {
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
	background-color: #0187c6;
    border-left: 0;
    padding: 4px 10px 3px;
    color: white;
}
.dialog-iframe-root-node .private-page .quantriphanquyen .form-search .bound-category-taglib input {
	height: 30px;
}
.dialog-iframe-root-node .private-page .quantriphanquyen .form-search .bound-category-taglib + div + button {
	margin-top: 23px;
    padding: 0px 12px;
    height: 31px;
}
.quantriphanquyen .tree-view ul {
	margin: 0 0 15px 15px;
}

/*--- Thong ke - Quan tri tin bai ---*/
.statistic form > .row-fluid {
	margin: 0 5px;
}
.statistic .button-holder {
	margin: 0 15px;
}
.statistic select, .statistic input[type="text"] {
	margin-bottom: 15px;
}
.private-page #content .statistic select {
	height: 85px !important;
}