@charset "utf-8";
/*********************************************** Reset Style ***********************************************/
*{margin:0; padding:0;}
body, html, div, blockquote, img, label, p,
h1, h2, h3, h4, h5, h6, pre, ul,  ol, li, dl, dt,
dd, form, select, a, fieldset, input, th {
	margin:0; padding:0; border:0; outline:none;
}
fieldset {border: none;}
.clear {clear:both;}
.floatleft {float:left;}
.floatright {float:right;}
.aligncenter {text-align:center;}

.aui {
	body {
		font-family: Arial;
		padding: 0;
		font-size: 12px;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		line-height: 24px;
		margin: 0;
		padding: 0;
	}
	
	ol, ul {list-style:none;margin:0;}
	a {text-decoration:none;}
	a,
	a:hover {
		color: #000;
	}
}


.asset-content ol {
        list-style-type: decimal !important;
}

.asset-content ul {
        list-style-type:initial !important;
}

.asset-content ul li{
    background:none; 
    border:none;
   
}

