.page_wrapper {
	background: url("../images/custom/background.png");
}

#wrapper{
/* 	width: 990px; */
	margin: 0 auto;
	background-color: #fff;
	padding: 0px;
}

#banner,
#content,
#footer {
/* 	width: 970px; */
	margin: 0 auto;
}

#banner {
	/* box-shadow: 0 0 5px #CCC; */
}

#content {
	/* padding-top: 16px; */
}

.nav-line {
	background-color: #f1f1f1;
    height: 29px;
    line-height: 29px;
    margin: 1px 0 10px;
}

.nav-line .l1 {
    float: left;
    text-align: center;
    width: 233px;
}

.nav-line .l2 {
    background-color: #ff0000;
    color: #ffff00;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
    float: left;
    height: 29px;
    line-height: 29px;
}

.nav-line .l3 {
    float: right;
    width: 237px;
    
    .search {
	    margin-left: 14px;
	    position: relative;
	}
	
	.text_search {
	    border: 1px solid #d6d6d6;
	    border-radius: 5px;
	    font-style: italic;
	    height: 25px;
	    outline: medium none;
	    padding: 0 35px 0 5px;
	    margin: 0;
    	width: 180px;
	}
	
	.bt_search {
	    background: url("../images/custom/icon-search.png") no-repeat;
	    border: medium none;
	    border-radius: 0 5px 5px 0;
	    cursor: pointer;
	    height: 23px;
	    position: absolute;
	    right: 3px;
	    top: 4px;
	    width: 30px;
	}
}

.clockWrapper {
	color: #000;
}

.banner {
	height: 122px;
	background: url("../images/phanthihaoPCT.jpg") no-repeat left bottom;
	display: block;
	width: 100%;
	background-size: 100% 100%;
}

/* .banner img {
	margin-left: 10px;
	margin-top: 10px;
} */

.page_wrapper ul li {
	background: url("../images/custom/list-style-1.png") no-repeat 0 12px;
	margin: 0;
	padding: 5px 0 5px 14px;
	list-style-type: none;
	border-top: 1px solid #cccccc;
}

.page_wrapper ul li:FIRST-CHILD {
	border-top: none;
}

.bottom {
	background: url("../images/custom/bottom_page.png") repeat-x left top;
	margin-top: 6px;
	padding-top: 12px;
}

 /* Portlet */
.portlet, .portlet-borderless-container {
	background: #FFF;
	margin-bottom: 10px;
	padding: 0;
}

.box,
.portlet {
	/* box-shadow: 0 0 5px #CCC; */
	border: 1px solid #cccccc;
}

.box.noshadow,
.portlet.noshadow {
	box-shadow: none;
}

.box .news-header-title,
.portlet .portlet-topper .portlet-title{
	background: url("../images/custom/bg-title.png") repeat scroll 0 0;
	border-bottom: 1px solid #cccccc;
	/* color: #018ee8; */
	color: red;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.box .news-header-title span,
.box .news-header-title a,
.portlet .portlet-topper .portlet-title-text {
	/* color: #018ee8; */
	color: red;
	font-size: 12px;
	display: inline-block;
	max-width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	text-transform: uppercase;
}

.portlet .icon-title {
	background: url("../images/custom/icon-title.png") no-repeat scroll 0 0;
	width: 16px;
	margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 0;
    height: 16px;
    display: inline-block;
}

/* menu icon cho box cải cách hành chính trên trang chủ */
ul.ico-cchc li,
ul.ico-menubox li {
	line-height: 25px;
	padding-left: 32px;
}

.ico-cchc .ico-cc-1 {
	background: url("../images/custom/icons/icon-cc-1.png") no-repeat left center;
}

.ico-cchc .ico-cc-2 {
	background: url("../images/custom/icons/icon-cc-2.png") no-repeat left center;
}

.ico-cchc .ico-cc-3 {
	background: url("../images/custom/icons/icon-cc-3.png") no-repeat left center;
}

.ico-cchc .ico-cc-4 {
	background: url("../images/custom/icons/icon-cc-4.png") no-repeat left center;
}

.ico-cchc .ico-cc-5 {
	background: url("../images/custom/icons/icon-cc-5.png") no-repeat left center;
}

.ico-menubox .motcualienthong {
	background: url("../images/custom/icons/1cualienthong.png") no-repeat left center;
}

.ico-menubox .dky_kinhdoanh {
	background: url("../images/custom/icons/dky_kinhdoanh.png") no-repeat left center;
}

.ico-menubox .donthu_khieunai {
	background: url("../images/custom/icons/donthu_khieunai.png") no-repeat left center;
}

.ico-menubox .vanban_dieuhanh {
	background: url("../images/custom/icons/vanban_dieuhanh.png") no-repeat left center;
}

.slick-slide img {
    height: 350px;
}
.slide-with-thumbnail .slider-nav img {
    height: 102px;
}