/*---- Menu ----*/
#menu {
	font-size: 12px; 
	height: 38px; 
	text-transform: uppercase; 
	/* background:url(../images/custom/bg_menu.png); */
	background:url(../images/custom/bg_menu.jpg);
}

#menu li {
	list-style: none; 
	float: left; 
	/* background:url(../images/custom/bg_menu.png); */ 
	background:url(../images/custom/bg_menu.jpg);
	line-height: 18px; 
	padding: 0px !important;
	/* border-right: 1px solid #0179c5; */
	border-right: 1px solid seashell;
	border-top: 0; 
}

#menu li a,
#menu li a:hover,
#menu li a:focus {
	color: #FFF;
	display: block;
	text-decoration: none;
}

#menu li:last-child {
	border-right: none;
}

#menu li:hover,
#menu .active {
	/* background: url(../images/custom/bg_active.png); */ 
	background: url(../images/custom/bg_active.jpg);
}
#menu li i {
	display: none;
}

/*---- Bar ----*/
#bar {
	/* background: url(../images/custom/bg_bre.png) no-repeat; */ 
	height: 15px;
}